<% service = dato.services[index] %>

    <div id="main-show-banner" role="main" class="text-center">
      <div class="background-image-projet" style="background-image: url('<%= image_path(service.photo.url)%>');">
        <div class="center-show">
          <%= service.icon %>
          <%= service.nom %>
        </div>
      </div>
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-xs-9 float-right text-left left-container">
            <div class="contenu-photo">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="lightgallery">
                      <% if service.photos_article.length >= 0 %>
                      <% service.photos_article.each do |photo| %>
                      <div class="item">
                        <a href="<%=photo.url%>" class = "image-light-gallery"><img src="<%=photo.url%>" alt="Image"></a>
                      </div>
                      <% end %> 
                      <% end %>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>

            </div>
            <h2><%=service.titre_de_article%></h2>
            <br>
            <% service.article_m.each do |block| %>
              <br>
              <h6><%= block.sous_titre if block.item_type.name == "Titre Article" %></h6> 
              <br>
              <p><%= block.bloc_de_texte if block.item_type.name == "Contenu" %></p> 
            <% end %>
          </div>
          <div class="col-xs-12 col-md-3 float-left text-center">
            <h4>Autres Services</h4>
            <hr>
            <ul>
              <% dato.services.each_with_index do |service, i| %>
              <div class="box-service">
                <a href="/services/<%=i%>.html">
                  <li>
                    <h3>  <%= service.icon %>  </h3>
                    <h6>  <%= service.nom %>   </h6>
                  </li>
                </a>
              </div>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
    <br>
  <hr>
  <br>
