<% service = dato.services[index] %>

    <div id="main-show-banner" role="main" class="text-center">
      <div class="background-image-projet" style="background-image: linear-gradient(-225deg, rgba(80,100,100,0.6) 0%, rgba(80,100,100,0.2) 60%), url('<%= image_path(service.photo.url)%>');">
        <div class="center-show">
          <%= service.icon %>
          <%= service.nom %>
        </div>
      </div>
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-xs-9 float-right text-left left-container">
            <% if service.photos_article.length > 1 %>
              <div  class="contenu-photo text-center">
                <!-- Wrapper for slides -->
                    <div class="lightgallery">
                        <% service.photos_article[0..1].each do |photo|  %>
                        <a href="<%=photo.url%>" class = "image-light-gallery-dark"><img src="<%=photo.url%>" style="height: 20vh;" alt="Image"></a>
                        <% end %> 
                      <% if service.photos_article.length > 2 %>
                        <% service.photos_article[2..service.photos_article.length].each do |photo|  %>
                          <a href="<%= photo.url%>" class="hidden"><img src="<%=photo.url%>" class="hidden" alt="Image"></a>
                        <% end %> 
                        <% end %>
                    </div>


            </div>
            <% end %>
            <br>
            <h2><%=service.titre_de_article%></h2>
            <br>
            <% service.article_m.each do |block| %>
              <br>
              <h6><%= block.sous_titre if block.item_type.name == "Titre Article" %></h6> 
              <div class="<%= 'merge-text' if block.item_type.name == 'Contenu' %>">
                <p><%= block.bloc_de_texte if block.item_type.name == "Contenu" %></p>
              </div> 
            <% end %>
          </div>
          <div class="col-xs-12 col-md-3 float-left text-center">
            <h4>Autres Services</h4>
            <hr>
            <ul>
              <% dato.services.each_with_index do |service, i| %>
              <div class="box-service">
                <a href="/services/<%=i%>.html">
                  <li>
                    <h3>  <%= service.icon %>  </h3>
                    <h6>  <%= service.nom %>   </h6>
                  </li>
                </a>
              </div>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
    <br>
  <hr>
  <br>
