<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Titles and Meta Tags -->
    <title><% dato.info.seo_titre_site %></title>
    <meta name="description" content="<%= dato.info.seo_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= dato.info.seo_titre_site %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= dato.info.seo_image.url %>" />
    <meta property="og:description" content="<%= dato.info.seo_description %>" />
    <meta property="og:site_name" content="<%= dato.info.seo_titre_site %>" />

    <!-- For Resposive Device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_tag 'images/favicon.png' %>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="56x56" href="<%= dato.info.favicon.url %>">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


    <!-- Main style sheet -->
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <!-- responsive style sheet -->
    <link rel="stylesheet" type="text/css" href="../../css/responsive.css">


    <!-- Light-gallery -->
      <link type="text/css" rel="stylesheet" href="https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/css/lightgallery.css">



    <!-- Fix Internet Explorer ______________________________________-->

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script src="vendor/html5shiv.js"></script>
      <script src="vendor/respond.js"></script>
    <![endif]-->

  </head>
  <body>
    <%= partial "partials/navbar"  %>
    <%= yield %>
    <%= partial "partials/footer" %>


      <!-- =============================================
        Loading Transition
      ============================================== -->
      <div id="loader-wrapper">
        <div id="preloader_1">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
      </div>


          <!-- Scroll Top Button -->
      <button class="scroll-top tran3s p-color-bg">
        <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
      </button>
    <script type="text/javascript" src="../../vendor/jquery.2.2.3.min.js"></script>

    <script type="text/javascript" src="../../vendor/bootstrap/bootstrap.min.js"></script>

    <script type="text/javascript" src="../../js/theme.js"></script>
        <!-- lightGallery -->
        <script src="https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/js/lightgallery.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-pager.js/master/dist/lg-pager.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-autoplay.js/master/dist/lg-autoplay.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-share.js/master/dist/lg-share.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-zoom.js/master/dist/lg-zoom.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-hash.js/master/dist/lg-hash.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-thumbnail.js/master/dist/lg-thumbnail.js"></script>
    <script src="https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js"></script>
    <script>
      document.querySelectorAll('.lightgallery').forEach((i) => {
        lightGallery(i, {
          thumbnail: true
        });
      });
    </script>

  </body>
  </html>
