<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Free Cube</title>

		<!-- Favicon -->
		<link rel="icon" type="image/png" sizes="56x56" href="images/fav-icon/icon.png">

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


		<!-- Main style sheet -->
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<!-- responsive style sheet -->
		<link rel="stylesheet" type="text/css" href="css/responsive.css">


		<!-- Fix Internet Explorer ______________________________________-->

		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="vendor/html5shiv.js"></script>
			<script src="vendor/respond.js"></script>
		<![endif]-->
			
	</head>

	<body>
		<div class="main-page-wrapper">



			<!-- 
			=============================================
				Theme Header
			============================================== 
			-->
			<header class="theme-main-header">
				<div class="container">
					<a href="index.html" class="logo float-left tran4s"><img src="<%= dato.info.logo.url %>" alt="Logo" style="height: 50px; margin-bottom: 10px;"></a>
					
					<!-- ========================= Theme Feature Page Menu ======================= -->
					<nav class="navbar float-right theme-main-menu one-page-menu">
					   <!-- Brand and toggle get grouped for better mobile display -->
					   <div class="navbar-header">
					     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
					       <span class="sr-only">Toggle navigation</span>
					       Menu
					       <i class="fa fa-bars" aria-hidden="true"></i>
					     </button>
					   </div>
					   <!-- Collect the nav links, forms, and other content for toggling -->
					   <div class="collapse navbar-collapse" id="navbar-collapse-1">
					     <ul class="nav navbar-nav">
					       	<li class="active"><a href="#home">HOME</a></li>
							<li><a href="#about-us">A PROPOS</a></li>
							<li><a href="#service-section">SERVICES</a></li>
							<li><a href="#project-section">PROJETS</a></li>
 							<li><a href="#our-client">CLIENTS</a></li>
							<li><a href="#contact-section">CONTACT</a></li>
					     </ul>
					   </div><!-- /.navbar-collapse -->
					</nav> <!-- /.theme-feature-menu -->
				</div>
			</header> <!-- /.theme-main-header -->


			<!--
			=====================================================
				Theme Main SLider
			=====================================================
			-->
			<div id="home" class="banner">
	        	<div class="rev_slider_wrapper">
					<!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
						<div id="main-banner-slider" class="rev_slider video-slider" data-version="5.0.7">
							<ul>
								<% dato.projets.each_with_index do |p,i| %>
								<!-- SLIDE1  -->
								<li data-index="rs-<%= i %>" data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default"  data-title="<%= p.titre_du_projet %>" data-description="">
									<!-- MAIN IMAGE -->
									<img src="<%= p.photo_du_projet[0].url %>"  alt="image" class="rev-slidebg" data-bgparallax="3" data-bgposition="center center" data-duration="20000" data-ease="Linear.easeNone" data-kenburns="on" data-no-retina="" data-offsetend="0 0" data-offsetstart="0 0" data-rotateend="0" data-rotatestart="0" data-scaleend="100" data-scalestart="140">
									<!-- LAYERS -->
									<!-- LAYER NR. 1 -->
									<div class="tp-caption" 
										data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
										data-y="['middle','middle','middle','middle']" data-voffset="['-58','-58','0','-50']" 
										data-width="none"
										data-height="none"
										data-whitespace="nowrap"
										data-transform_idle="o:1;"
							 
										data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
										data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
										data-mask_in="x:0px;y:[100%];" 
										data-mask_out="x:inherit;y:inherit;" 
										data-start="1000" 
										data-splitin="none" 
										data-splitout="none" 
										data-responsive_offset="on" 
										style="z-index: 6; white-space: nowrap;">
										<h1> <%= p.titre_du_projet %></h1>
									</div>

									<!-- LAYER NR. 2 -->
									<div class="tp-caption" 
										data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
										data-y="['middle','middle','middle','middle']" data-voffset="['-05','-05','63','0']"
										data-width="none"
										data-height="none"
										data-whitespace="nowrap"
										data-transform_idle="o:1;"
							 
										data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
										data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
										data-mask_in="x:0px;y:[100%];" 
										data-mask_out="x:inherit;y:inherit;" 
										data-start="2000" 
										data-splitin="none" 
										data-splitout="none" 
										data-responsive_offset="on" 
										style="z-index: 6; white-space: nowrap;">
										<h6><%= p.description %></h6>
									</div>


									<!-- LAYER NR. 3 -->
									<div class="tp-caption"
										data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
										data-y="['middle','middle','middle','middle']" data-voffset="['52','52','125','80']"
										data-transform_idle="o:1;"
							 
										data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
										data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
										data-mask_in="x:0px;y:[100%];" 
										data-mask_out="x:inherit;y:inherit;" 
										data-start="3000" 
										data-splitin="none" 
										data-splitout="none" 
										data-responsive_offset="on">
										<a href="#project-section" class="project-button hvr-bounce-to-right">Voir Nos Projets</a>
									</div>

								</li>
								<% end %>

							</ul>	
						</div>
					</div><!-- END REVOLUTION SLIDER -->
	        </div> <!--  /#banner -->



	        <!--
			=====================================================
				About us Section
			=====================================================
			-->
			<section id="about-us">
				<div class="container">
					<div class="theme-title">
						<h2><%= dato.info.title %> </h2>
						<p><%= dato.info.description %> </p>
					</div> <!-- /.theme-title -->
				
				</div> <!-- /.container -->
			</section> <!-- /#about-us -->


			<!--
			=====================================================
				Service Section
			=====================================================
			-->
			<div id="service-section">
				<div class="container">
					<div class="theme-title">
						<h2>NOS SERVICES</h2>
						<p><%= dato.info.services_texte %></p>
					</div> <!-- /.theme-title -->

					<div class="row">
					
					<% dato.services.each_with_index do |p,i| %>

						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-service-content" style= "background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 60%), url('<%= p.photo.url %>'); background-size: cover; background-position: center;">
								<div class="icon-heading tran3s">
									<div class="icon tran3s"> <%= p.icon %> </div>
									<h6> <%= link_to p.nom, "services/#{i}.html", class: "tran3s", target: "_blank" %> </h6>
								</div>
								<p><%= p.description %> </p>
							</div> <!-- /.single-service-content -->
						</div> <!-- /.col-lg -->
						
					<% end %>

					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /#service-section -->



			<!--
			=====================================================
				Project Section
			=====================================================
			-->
			<div id="project-section">
				<div class="container">
					<div class="theme-title">
						<h2>Tous Nos Projets</h2>
						<p><%= dato.info.projets_texte %></p>
					</div> <!-- /.theme-title -->

					<div class="project-menu">
						<ul>
	        				<li class="filter active tran3s" data-filter="all">Tous</li>
							<li class="filter tran3s" data-filter=".Container">Containers</li>
							<li class="filter tran3s" data-filter=".Villa">Villas</li>
							<li class="filter tran3s" data-filter=".Bureau">Bureaux</li>
							<li class="filter tran3s" data-filter=".Rénovation">Rénovation</li>
	        			</ul>
					</div>

					<div class="project-gallery clear-fix">

					<% dato.projets.each_with_index do |p,i| %>
							<div class="mix grid-item photo om <%= p.category %>">
								<div class="single-img">
									<img src="<%=p.photo_du_projet[0].url%>" alt="Image">
									<div class="opacity">
										<div class="border-shape"><div><div>
											<h6><%= p.titre_du_projet %></h6>
											<ul>
												<li><%= p.description %></li>
											</ul></div></div>
										</div> <!-- /.border-shape -->
									</div> <!-- /.opacity -->
								</div> <!-- /.single-img -->
							</div> <!-- /.grid-item -->
					  <% end %>       


					</div> <!-- /.project-gallery -->
				</div> <!-- /.container -->
			</div> <!-- /#project-section -->

			<!--
			=====================================================
				Page middle banner
			=====================================================
			-->

			<div class="page-middle-banner">
				<div class="opacity">
					<h3>Nous vous accompagnons dans tous vos projets</h3>
					<a href="#contact-section" class="hvr-bounce-to-right">Travaillons Ensemble</a>
				</div> <!-- /.opacity -->
			</div> <!-- /.page-middle-banner -->


		

			<!--
			=====================================================
				Our Client
			=====================================================
			-->
			<div id="our-client">
				<div class="container">
					<div class="theme-title">
						<h2>NOS CLIENTS</h2>
						<p><%= dato.info.clients_texte %></p>
					</div> <!-- /.theme-title -->

						<div class="client-slider">

								<% 3.times do %>
								<% dato.reviews.each do |r| %>
										<div class="item ">
											<img src="<%= r.photo.url %>" alt="Client">
											<p> <%= r.commentaire %></p>
											<h6>- <%= r.nom %> -</h6>
											<h6>
												<% r.rating.times do %>
													<i class="fa fa-star"></i>
												<% end %>
											</h6>
										</div> <!-- /.item -->
								  <% end %>       
								<% end %>


						


					</div> <!-- /.client-slider -->
				</div> <!-- /.container -->
			</div> <!-- /#our-client -->


			<!--
			=====================================================
				Partner Section
			=====================================================
			-->
			<div id="partner-section">
				<div class="container">
					<div id="partner_logo" class="owl-carousel owl-theme">
						<% dato.clients.each do |p| %>
							<div class="item"><img src="<%=p.logo_client.url%>" alt="logo"></div>
						<% end %>
					</div> <!-- End .partner_logo -->
				</div> <!-- /.container -->
			</div> <!-- /#partner-section -->



			<!--
			=====================================================
				Contact Section
			=====================================================
			-->
			<div id="contact-section">
				<div class="container">
					<div class="clear-fix contact-address-content">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="left-side">
								<h2>INFO CONTACT</h2>
								<p><%= dato.info.contact_texte %></p>

								<ul>
									<li>
										<div class="icon tran3s round-border p-color-bg"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
										<h6>Address</h6>
										<p><%= dato.info.addresse %></p>
									</li>
									<li>
										<div class="icon tran3s round-border p-color-bg"><i class="fa fa-phone" aria-hidden="true"></i></div>
										<h6>Téléphone</h6>
										<p><%= dato.info.telephone %></p>
									</li>
									<li>
										<div class="icon tran3s round-border p-color-bg"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
										<h6>Email</h6>
										<p><%= dato.info.email %></p>
									</li>
								</ul>
							</div> <!-- /.left-side -->
						</div> <!-- /.col- -->


						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="map-area">
								<h2>Notre Position</h2>
								<div id="map" style= "background-image: url('<%= dato.info.map.url%>')"></div>
							</div> <!-- /.map-area -->
						</div> <!-- /.col- -->
					</div> <!-- /.contact-address-content -->



					<!-- Contact Form -->
					<div class="send-message">
						<h2>Envoyer un message</h2>


						<form action="https://formspree.io/majid.jaidi@gmail.com" class="form-validation" autocomplete="off" method="POST">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<div class="single-input">
										<input type="text" placeholder="Prénom*" name="Fname">
									</div> <!-- /.single-input -->
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<div class="single-input">
										<input type="text" placeholder="Nom*" name="Lname">
									</div> <!-- /.single-input -->
								</div>
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
									<div class="single-input">
										<input type="email" placeholder="Email*" name="_replyto">
									</div> <!-- /.single-input -->
								</div>
							</div> <!-- /.row -->
							<div class="single-input">
								<input type="text" placeholder="Sujet" name="_subject">
							</div> <!-- /.single-input -->
							<textarea placeholder="Ecrire un message" name="message"></textarea>
					    <input type="submit" class="submit-message" value="Envoyer Un Message">
							<input type="hidden" name="_next" value="https://site.io/thanks.html" />
						</form>


						<!-- Contact Form Validation Markup -->
						<!-- Contact alert -->
						<div class="alert-wrapper" id="alert-success">
							<div id="success">
								<button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
								<div class="wrapper">
					               	<p>Votre méssage à été envoyé avec succès.</p>
					             </div>
					        </div>
					    </div> <!-- End of .alert_wrapper -->
					    <div class="alert-wrapper" id="alert-error">
					        <div id="error">
					           	<button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
					           	<div class="wrapper">
					               	<p>Déslolé!Une Erreur c'est produite.</p>
					            </div>
					        </div>
					    </div> <!-- End of .alert_wrapper -->
					</div> <!-- /.send-message -->
				</div> <!-- /.container -->
			</div> <!-- /#contact-section -->



			<!--
			=====================================================
				Footer
			=====================================================
			-->
			<footer>
				<div class="container">
					<a href="index.html" class="logo"><img src="<%= dato.info.logo.url %>" alt="Logo" style= "height: 50px;"></a>

					<ul>
            <li><a href="#" class="tran3s round-border"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#" class="tran3s round-border"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="" class="tran3s round-border"><i class="fa fa-phone" aria-hidden="true"></i></a> </li>
            <li><p><%= dato.info.telephone %></p></li>
            <li><a href="" class="tran3s round-border"><i class="fa fa-envelope-o" aria-hidden="true"> </i></a> </li>
            <li><p><%= dato.info.email %></p></li>
					</ul>

				</div>
			</footer>




			<!-- =============================================
				Loading Transition
			============================================== -->
			<div id="loader-wrapper">
				<div id="preloader_1">
	                <span></span>
	                <span></span>
	                <span></span>
	                <span></span>
	                <span></span>
	            </div>
			</div>

			
	        <!-- Scroll Top Button -->
			<button class="scroll-top tran3s p-color-bg">
				<i class="fa fa-long-arrow-up" aria-hidden="true"></i>
			</button>




		<!-- Js File_________________________________ -->

		<!-- j Query -->
		<script type="text/javascript" src="vendor/jquery.2.2.3.min.js"></script>

		<!-- Bootstrap JS -->
		<script type="text/javascript" src="vendor/bootstrap/bootstrap.min.js"></script>

		<!-- Vendor js _________ -->
		
		<!-- revolution -->
		<script src="vendor/revolution/jquery.themepunch.tools.min.js"></script>
		<script src="vendor/revolution/jquery.themepunch.revolution.min.js"></script>
		<script type="text/javascript" src="vendor/revolution/revolution.extension.slideanims.min.js"></script>
		<script type="text/javascript" src="vendor/revolution/revolution.extension.layeranimation.min.js"></script>
		<script type="text/javascript" src="vendor/revolution/revolution.extension.navigation.min.js"></script>
		<script type="text/javascript" src="vendor/revolution/revolution.extension.kenburn.min.js"></script>
		<script type="text/javascript" src="vendor/revolution/revolution.extension.actions.min.js"></script>
		<script type="text/javascript" src="vendor/revolution/revolution.extension.video.min.js"></script>

	
		<!-- owl.carousel -->
		<script type="text/javascript" src="vendor/owl-carousel/owl.carousel.min.js"></script>
		<!-- mixitUp -->
		<script type="text/javascript" src="vendor/jquery.mixitup.min.js"></script>
		<!-- Progress Bar js -->
		<script type="text/javascript" src="vendor/skills-master/jquery.skills.js"></script>
		<!-- Validation -->
		<script type="text/javascript" src="vendor/contact-form/validate.js"></script>
		<script type="text/javascript" src="vendor/contact-form/jquery.form.js"></script>


		<!-- Theme js -->
		<script type="text/javascript" src="js/theme.js"></script>
		<script type="text/javascript" src="js/map-script.js"></script>

		</div> <!-- /.main-page-wrapper -->
	</body>
</html>